.home {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 100%;


}

html {
    scroll-behavior: smooth;
}

.perfil {

    width: 400px;
    height: 400px;
}

.home-text>p {
    font-size: 2.25rem;
    color: var(--color-secundary);
}

.home-text>h1 {
    color: var(--color-primay);
    font-size: 3rem;
    overflow: hidden;
    animation: typewriter 2s steps(13) infinite alternate,
        blink 800ms steps(13) infinite normal;
}

@keyframes typewriter {
    from {
        widht: 0%;
    }

    to {
        width: 100%;
    }
}