.home {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 100%;


}

html {
    scroll-behavior: smooth;
}

.perfil {

    width: 400px;
    height: 400px;
}

.home-text>p {
    font-size: 2.25rem;
    color: var(--color-secundary);
}

.home-text>h1 {
    color: var(--color-primay);
    font-size: 3rem;
}

@keyframes typewriter {
    from {
        widht: 0%;
    }

    to {
        width: 100%;
    }
}
@media screen and (max-width:765px){
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    .home-text{
       
        text-align: center;

    }

}