.projects {
    background: linear-gradient(180deg, var(--color-black), var(--color-primay));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    
}

.project-title {
    text-align: center;
    font-weight: 700;
    background: linear-gradient(#666, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container-projects1 {
    display: flex;
    gap: 30px;

}

.container-projects1>div {
    width: 300px;
    height: 200px;
    background-color: #353232;

}

.container-projects2 {
    display: flex;
    gap: 30px;
}

.container-projects2>div {
    width: 300px;
    height: 200px;
    background-color: #353232;
    position: relative;
   

}
.container-projects1 > div > img{
    width: 300px;
    height: 200px;
 
}
.container-projects2 > div > img{
    width: 300px;
    height: 200px;
   
}
.fundo-img-projects{
position: absolute;
bottom: 0px;
width: 300px;
height: 60px;
background-color: #ffffff;
opacity: 0.5;
display: flex;
align-items: center;
justify-content: center;


}
.fundo-img-projects>p{
    color: #ffffff;
    font-weight: bold;
}
.fundo-img-projects:hover{
    height: 200px;
    transition: 0.8s;
    visibility: visible;
  
}
@media screen and (max-width:765px){
    .projects{
        height: 2500px;
    }
    .container-projects1{
        flex-direction: column;

    }
    .container-projects2{
        flex-direction: column;
    }
    .fundo-img-projects{
        visibility: hidden;
    }
    .container-projects1>div{
        width: 500px;
        height: 300px;
    }
    .container-projects2>div{
        width: 500px;
        height: 300px;
    }
    .container-projects1>div > img{
        width: 500px;
        height: 300px;
    }
    .container-projects2>div > img{
        width: 500px;
        height: 300px;
    }
}