* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #222;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;

}

a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.7s;
}